@model Animal

@{ var photoPath = "~/Images/AnimalImages/" + (Model?.ImagePath ?? "noimage.jpg"); }

<a asp-action="index" asp-controller="home" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="col-md-12 text-center">
                <img class=" center text-center" style="height: 300px; width: 300px; margin-bottom: 20px; margin-top: 20px;" src="@photoPath" alt="Image is missing" asp-append-version="true" />
            </div>
            <div class="card-body text-center">
                <h4>Employee ID: @Model.Id</h4>
                <h4>age: @Model.Age</h4>
                <h4>Breed: @Model.Breed</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-action="edit" asp-controller="home" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="addcomment" asp-controller="home" asp-route-id="@Model.Id" class="btn btn-primary">Add Comment</a>
                <a asp-action="addtreatment" asp-controller="home" asp-route-id="@Model.Id" class="btn btn-primary">Add Treatment</a>
                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <hr />

        <div>
            <h3>Comments</h3>
            <table>
                <tr>
                    <th>Comment</th>
                    <th>Made by</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.Comments)
                {
    <tr>
        <td>@item.CommentText</td>
        <td>@item.VolunteerId</td>
        <td>@item.Date</td>
    </tr>
}
            </table>
        </div>
        <hr />
        <div>
            <h3>Treatments</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>costs</th>
                    <th>Age Requirement</th>
                    <th>Treated By</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.Treatments)
                {
    <tr>
        <td>@item.Id</td>
        <td>@item.TreatmentType</td>
        <td>@item.Description</td>
        <td>@item.Costs</td>
        <td>@item.AgeRequirement</td>
        <td>@item.ExecutedBy</td>
        <td>@item.DateOfTime</td>
    </tr>
}
            </table>
        </div>
    </div>
</div>