@model IEnumerable<Core.Domain.Animal>

@{ ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary" asp-action="Create">Create Animal</a>
<div class="card-deck">

    @foreach (var e in @Model)
    {
        var photoPath = "~/Images/AnimalImages/" + (e?.ImagePath ?? "noimage.jpg");
<div class="card m-3" style="min-width: 18rem; max-width:70%">
    <div class="card-header">
        <h3>@e.Name</h3>
    </div>
    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
    <div class="card-footer text-center">
        <a asp-controller="home" asp-action="details" asp-route-id="@e.Id" class="btn btn-primary m-1">View</a>
        <a asp-action="edit" asp-controller="home" asp-route-id="@e.Id" class="btn btn-primary m-1">Edit</a>
        @*<a asp-controller="home" asp-action="Delete" method="delete" asp-route-id="@e.Id" class="btn btn-danger m-1">Delete</a>*@

        <form asp-action="Delete" asp-route-id="@e.Id" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

    </div>
</div>}
</div>